* {
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    
}

/* header */
header {
    background-image : linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9
    )), url("./images/hero.png");
    background-size: cover;
    background-position: center 25%;
    min-width: 300px;
    width: 100vw;
    height: 15vh;
    padding: 1em;
    margin:0 auto;
}

.title-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    width: 80vw;
    margin: 0 auto;




}
header .title {
    color: white;
    margin: 0;
}

header a {
    text-decoration: none;
    color: #fff;

}
/* main */
.main-container {
     text-align: center;
    color: #DFDDDD;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10em 0;

}

.main-container a {
    text-decoration: none;
    color: #000;
    font-weight: 600;
    
}


/* movie cards */
.movie-card {
    border-bottom: solid 2px #D1D5DB;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-shrink: 0;
    padding: 0.5em;
    overflow: auto;
    min-width: 300px;
    width: 90%;
    max-width: 900px;
    
    
    
}

.movie-card img {
    max-width: 100%;  
    height: auto;    
    min-width: 150px;
    align-self: center;
    object-fit: cover;
    padding: 0.5em;

}

.movie-details  {
justify-content: start  !important;
gap: 0.75em;

}

.movie-rating {
    align-self: center;
}


.movie-details, .movie-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    color: #000;
    object-fit: cover;
    padding: 0 1em; 



}
.movie-title {
    font-size: 1.15rem;


}
.movie-info {
   font-size: 0.9rem;
    


}

.movie-plot {
    color: #6B7280;
    text-align:start;
    padding : 0 1em;
    font-size: 0.9rem;

}
.add-watchlist {
    background: none;
    border: none;
    cursor: pointer;
    
}



/* query */
@media (max-width: 415px) {

    .hero-section {
        height: 25vh;
        
    }
    #search-form {
        top: 2%;
        width: 90%;
    }

    .title-container {
        flex-direction: column;
        gap: 1em;
    }
    
    .title-container a {
        background-color: #908b8b50;
        padding: 0.5em;
        border-radius: 0.5em;
    }
}